{% extends "base.html.twig" %}

{% block title %}Livres de la catégories {{category.0.name}}{% endblock %}

{% block body %}

    <h1>Livres de la catégories <em>{{category.0.name}}</em></h1>

    <ul>

        {% for book in books %}
            <li><a href="{{path("app_book_displayOneBook", {id:book.id})}}">{{book.title}}</a></li>
        {% endfor %}
    
    </ul>

{% endblock %}