{% extends "base.html.twig" %}

{% block title %}Les catégories{% endblock %}

{% block body %}

  <div class="content">
  
    <ul>
    
      {% for category in categories %}
        <li><a href="{{path("app_category_showAllBooksOfOneCategory", {id:category.id})}}">{{category.name}}</a></li>
      {% endfor %}
    
    </ul>
  
  </div>

{% endblock %}