<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/style.css">
        {% endblock %} 
    </head>

    <body>
        <nav>
            <div class="nav-links-container">
                <a href="{{path("app_home_displayNBooks", {number:20})}}">Home</a>
                <a href="{{path("app_category_showAllCategories")}}">Toutes les catégories</a>
            </div>
        </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
